*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
html {
    font-family: myfont2;
    color: rgb(244, 244, 244);
    font-size: clamp(14px, 1vw, 18px);
}

body {
    background-color: #121212;
}
@mixin flex-center($gap:0rem){
    display: flex;
    flex-direction: column;
    gap:$gap;
}
@mixin new(){
     display: flex;
     flex-direction: row;  
}
@font-face {
    font-family: myfont1;
    src: url('./L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2');
}
@font-face {
    font-family: myfont2;
    src: url('./63cffc20aa8997095067596f_Satoshi-Light.woff');
}
@font-face {
    font-family: myfont3;
    src: url('./63cffc0a3942456e003bc265_Chillax-Regular.woff');
}
.view1{
    max-width:2000px;
}
main{
    width: 100%;
    @include flex-center();
    align-items: center;
        .view1{
        width: 100%;
        padding: 1rem;
        @include flex-center(1rem);
        background-color: rgb(21, 20, 20);
        border-radius: 1rem;
        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom{
            
           @include flex-center(3rem);
            background-color: rgb(28, 27, 27);
            padding: 1.5rem;
            border-radius: 1rem;
                p{
                    font-size: 0.8rem;
                    font-family: myfont1;
                }
            
            .text{
                  @include flex-center(0.6rem);
                h1{
                    text-transform: uppercase;
                    font-weight: 200;
                    font-family: myfont3;
                    font-size: 3rem;
                }
                p{
                    font-size: 1.5rem;
                    font-weight: 100;
                    line-height: 1.5;
                    opacity:0.6;
                    font-family: myfont2;
                }
                button{
                   width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
        }
        .view2{
            width: 100%;
           @include flex-center();
            align-items: center;
           .top{
                @include new();
                .element{
                    gap:2rem;
                    padding: 2.4rem;
                   
                    small{
                        font-size: 0.8rem;
                        font-family: myfont1;
                         
                    }
                    
                    h1{
                        font-size: 2rem;
                       
                    }
                }
           }
           .bottom{
             @include new();
             .element{
                    gap:2rem;
                    padding: 2.4rem;
                    small{
                        font-size: 0.8rem;
                        font-family: myfont1;
                    }
                    
                    h1{
                        font-size: 2rem;
                        
                    }
                }
           }
         
        }
        .view3{
             @include flex-center(1rem);
              padding: 1rem;
             
                
            .top{
                width: 100%;
               
                img{
                    width: 100%;
                    border-radius: 1rem;
                }
            }
             .bottom{
            
           @include flex-center(3rem);
            background-color: rgb(28, 27, 27);
            padding: 2rem;
            border-radius: 1rem;
               p{
                    font-size: 1.1rem;
                    font-family: myfont1; 
                    font-weight: 400;
                    opacity: 0.8;
                }
            
            .text{
                  @include flex-center(0.6rem);
                h1{
                    text-transform: uppercase;
                    font-weight: 200;
                    font-family: myfont3;
                    font-size: 2.4rem;
                }
                .paragraph{
                    @include flex-center();
                 p{
                    font-size: 1.2rem;
                    font-weight: 550;
                    line-height: 1.6;
                    opacity:0.6;
                    font-family: myfont2;
                }
            }
               
            }
        }
        }
         .view4{
             @include flex-center(1rem);
              padding: 1rem;
             
                
            .top{
                width: 100%;
               
                img{
                    width: 100%;
                    border-radius: 1rem;
                }
            }
             .bottom{
            
           @include flex-center(3rem);
            background-color: rgb(28, 27, 27);
            padding: 2rem;
            border-radius: 1rem;
               p{
                    font-size: 1.1rem;
                    font-family: myfont1; 
                    font-weight: 400;
                    opacity: 0.8;
                }
            
            .text{
                  @include flex-center(0.6rem);
                h1{
                    text-transform: uppercase;
                    font-weight: 200;
                    font-family: myfont3;
                    font-size: 2.4rem;
                }
                .paragraph{
                    @include flex-center();
                 p{
                    font-size: 1.2rem;
                    font-weight: 550;
                    line-height: 1.6;
                    opacity:0.6;
                    font-family: myfont2;
                }
            }
               
            }
        }
        }
        .view5{
            padding: 1rem;
            @include flex-center();
            h1{
                font-size: 2rem;
                font-family: myfont2;
                font-weight: 500;

            }
           .card{
            width: 100%;
            background-image: url('https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01-p-800.webp');
            background-size: cover;
            aspect-ratio: 1/1;
        }
        }
    }
    
  @media (min-width:900px) {
    main{
        
        .view1{
            flex-direction: row;
           
            align-items: stretch; 

            .top,
            .bottom{
                width: 50%;
                  
               
            }

            .bottom{
                justify-content: space-between;
                padding:3.5rem;

                .text{

                    gap:1.5rem;

                    h1{
                        width: 90%;
                        font-size:3.8rem;
                    }
                     p {
                        width: 90%;
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .view2{
            width: 100%;
            flex-direction: row;
                       
             .top,
             .bottom{
                width: 50%;
                justify-content: space-around;
                .element{
                    padding: 5rem;
                    small{
                        font-family: myfont1;
                        font-size: 1rem;
                        padding-left: 0.8rem;
                    }
                h1{
                    font-size: 4rem;
                    font-family: myfont2;
                }
            }
             }
        }
        .view3{
            flex-direction: row-reverse;
            gap:1rem;
            .top,
            .bottom{
                width: 50%;
            }
             .bottom{
                justify-content: space-between;
                padding:3.5rem;

                .text{

                    gap:1.5rem;
                 h1{
                        width: 90%;
                        font-size:3.1rem;
                    }
                    .paragraph{
                        flex-direction: row;
                        width: 100%;
                        gap: 1rem;
                      p {
                        width: 70%;
                        font-size: 1.5rem;
                        line-height: 1.5;
                       
                    }
                }
                }
            }
        }
         .view4{
            flex-direction: row;
            gap:1rem;
            .top,
            .bottom{
                width: 50%;
            }
             .bottom{
                justify-content: space-between;
                padding:3.5rem;

                .text{

                    gap:1.5rem;

                    h1{
                        width: 90%;
                        font-size:3.1rem;
                    }
                    .paragraph{
                        flex-direction: row;
                        width: 100%;
                        gap: 1rem;
                      p {
                        width: 70%;
                        font-size: 1.5rem;
                        line-height: 1.5;
                       
                    }
                }
                }
            }
        }
    }
    }

