*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
html {
    font-family: myfont2;
    color: rgb(244, 244, 244);
    font-size: clamp(14px, 1vw, 18px);
}

body {
    background-color: #101010;
}
@mixin flex-center($gap:0rem){
    display: flex;
    flex-direction: column;
    gap:$gap;
}
@mixin new(){
     display: flex;
     flex-direction: row;  
}
@font-face {
    font-family: myfont1;
    src: url('./L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2');
}
@font-face {
    font-family: myfont2;
    src: url('./63cffc20aa8997095067596f_Satoshi-Light.woff');
}
@font-face {
    font-family: myfont3;
    src: url('./63cffc0a3942456e003bc265_Chillax-Regular.woff');
}
.view1{
    max-width:2000px;
}
main{
    width: 100%;
    @include flex-center();
    align-items: center;
        .view1{
        width: 100%;
        padding: 1rem;
        @include flex-center(1rem);
       
        border-radius: 1rem;
        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom{
            
           @include flex-center(3rem);
            background-color: rgb(28, 27, 27);
            padding: 1.5rem;
            border-radius: 1rem;
                p{
                    font-size: 0.8rem;
                    font-family: myfont1;
                }
            
            .text{
                  @include flex-center(1rem);
                h1{
                    text-transform: uppercase;
                    font-weight: 200;
                    font-family: myfont3;
                    font-size: 2.7rem;
                    text-align: left;
                    padding: 0;
                }
                p{
                    font-size: 1.5rem;
                    font-weight: 100;
                    line-height: 1.5;
                    opacity:0.6;
                    font-family: myfont2;
                }
                button{
                   width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
        }
        .view2{
            width: 100%;
           @include flex-center();
            align-items: center;
           .top{
                @include new();
                .element{
                    gap:2rem;
                    
                   
                    small{
                        font-size: 0.8rem;
                        font-family: myfont1;
                         
                    }
                    
                    h1{
                        font-size: 2rem;
                       
                    }
                }
           }
           .bottom{
             @include new();
             .element{
                    gap:2rem;
                   
                    small{
                        font-size: 0.8rem;
                        font-family: myfont1;
                    }
                    
                    h1{
                        font-size: 2rem;
                        
                    }
                }
           }
         
        }
        .view3{
             @include flex-center(1rem);
              padding: 1rem;
             
                
            .top{
                width: 100%;
               
                img{
                    width: 100%;
                    border-radius: 1rem;
                }
            }
             .bottom{
            
           @include flex-center(3rem);
            background-color: rgb(28, 27, 27);
            padding: 2rem;
            border-radius: 1rem;
               p{
                    font-size: 1.1rem;
                    font-family: myfont1; 
                    font-weight: 400;
                    opacity: 0.8;
                }
            
            .text{
                    @include flex-center(1rem);
                h1{
                    text-transform: uppercase;
                    font-weight: 200;
                    font-family: myfont3;
                    font-size: 2.2rem;
                    text-align: left;
                    padding: 0;
                }
                .paragraph{
                    @include flex-center();
                 p{
                    font-size: 1.2rem;
                    font-weight: 550;
                    line-height: 1.6;
                    opacity:0.6;
                    font-family: myfont2;
                }
            }
               
            }
        }
        }
         .view4{
             @include flex-center(1rem);
              padding: 1rem;
             
                
            .top{
                width: 100%;
               
                img{
                    width: 100%;
                    border-radius: 1rem;
                }
            }
             .bottom{
            
           @include flex-center(3rem);
            background-color: rgb(28, 27, 27);
            padding: 2rem;
            border-radius: 1rem;
               p{
                    font-size: 1.1rem;
                    font-family: myfont1; 
                    font-weight: 400;
                    opacity: 0.8;
                }
            
            .text{
                    @include flex-center(1rem);
                h1{
                    text-transform: uppercase;
                    font-weight: 200;
                    font-family: myfont3;
                    font-size: 2.2rem;
                    text-align: left;
                    padding: 0;
                }
                .paragraph{
                    @include flex-center();
                 p{
                    font-size: 1.2rem;
                    font-weight: 550;
                    line-height: 1.6;
                    opacity:0.6;
                    font-family: myfont2;
                }
            }
               
            }
        }
        }
        h1{
                width: 100%;
                font-size: 2rem;
                font-family: myfont3;
                font-weight: 400;
                padding: 2rem;

        }
        .view5{
            width: 100%;
            padding: 1rem ; 
            @include flex-center(2rem);
            .card1{ 
                width: 100%;
               
                background-size: cover;
                background-image: url('https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01-p-500.webp');
                aspect-ratio: 1/1;
                border-radius: 1rem;
                @include flex-center(0rem);
                justify-content: space-between;   
                padding: 2rem;
                .top{
                    @include new;
                    justify-content: flex-end;
                    gap: 1rem;
                   padding: 0.7rem 0.7rem;
                    
                    .icon{
                         width: fit-content;
                         border-radius: 50px;
                         padding: 0.8rem;
                         background-color: rgba(255, 255, 255, 0.075);
                         backdrop-filter: blur(12px);
                         border: 0.1rem solid rgba(255, 255, 255, 0.192);
                        i{
                            
                            font-weight: 100;
                            color:  rgba(255, 255, 255, 0.703);
                        }
                    }
                }        
                 .bottom{
                    width: 100%;
                    background-color: rgba(187, 187, 187, 0.133);
                    backdrop-filter: blur(22px);
                    border-radius: 0.7rem;
                    border: 1px solid rgba(255, 255, 255, 0.278);
                    padding: 1rem 0.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h2{
                        font-size: 1.4rem;
                        font-family: myfont2;
                     
                        font-weight: 800;
                    }
                    h3{
                        font-size: 1rem;
                        font-family: myfont1;
                    }
                }      
            }
            .card2{ 
                width: 100%;
               
                background-size: cover;
                background-image: url('https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02-p-500.webp');
                aspect-ratio: 1/1;
                border-radius: 1rem;
                @include flex-center(0rem);
                justify-content: space-between;   
                padding: 2rem;
                .top{
                    @include new;
                    justify-content: flex-end;
                    gap: 1rem;
                   padding: 0.7rem 0.7rem;
                    
                    .icon{
                         width: fit-content;
                         border-radius: 50px;
                         padding: 0.8rem;
                         background-color: rgba(255, 255, 255, 0.075);
                         backdrop-filter: blur(12px);
                         border: 0.1rem solid rgba(255, 255, 255, 0.192);
                        i{
                            
                            font-weight: 100;
                            color:  rgba(255, 255, 255, 0.703);
                        }
                    }
                }        
                 .bottom{
                    width: 100%;
                    background-color: rgba(187, 187, 187, 0.133);
                    backdrop-filter: blur(22px);
                    border-radius: 0.7rem;
                    border: 1px solid rgba(255, 255, 255, 0.278);
                    padding: 1rem 0.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h2{
                        font-size: 1.4rem;
                        font-family: myfont2;
                     
                        font-weight: 800;
                    }
                    h3{
                        font-size: 1rem;
                        font-family: myfont1;
                    }
                }        
            }
            .card3{ 
                width: 100%;
               
                background-size: cover;
                background-image: url('https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03-p-500.webp');
                aspect-ratio: 1/1;
                border-radius: 1rem;
                @include flex-center(0rem);
                justify-content: space-between;   
                padding: 2rem;
                .top{
                    @include new;
                    justify-content: flex-end;
                    gap: 1rem;
                   padding: 0.7rem 0.7rem;
                    
                    .icon{
                         width: fit-content;
                         border-radius: 50px;
                         padding: 0.8rem;
                         background-color: rgba(255, 255, 255, 0.075);
                         backdrop-filter: blur(12px);
                         border: 0.1rem solid rgba(255, 255, 255, 0.192);
                        i{
                            
                            font-weight: 100;
                            color:  rgba(255, 255, 255, 0.703);
                        }
                    }
                }        
                .bottom{
                    width: 100%;
                    background-color: rgba(187, 187, 187, 0.133);
                    backdrop-filter: blur(22px);
                    border-radius: 0.7rem;
                    border: 1px solid rgba(255, 255, 255, 0.278);
                    padding: 1rem 0.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h2{
                        font-size: 1.4rem;
                        font-family: myfont2;
                     
                        font-weight: 800;
                    }
                    h3{
                        font-size: 1rem;
                        font-family: myfont1;
                    }
                }    
            }

        }
         .view6{
        width: 100%;
        padding: 1rem;
        @include flex-center(0.2rem);
        border-radius: 1rem;
        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom{
            
           @include flex-center(1rem);
            background-color: rgb(28, 27, 27);
            padding: 1.5rem;
            border-radius: 1rem;
                p{
                    font-size: 1rem;
                    font-family: myfont1;
                    opacity: 0.7;
                }
            
            .text{
                  @include flex-center(1rem);
                h1{
                    text-transform: uppercase;
                    font-weight: 200;
                    font-family: myfont3;
                    font-size: 2.4rem;
                    text-align: left;
                    padding: 0rem ;
                    padding-bottom: 2rem;
                }
                button{
                   width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
        }
    }
    
  @media (min-width:900px) {        
    main{
        
        .view1{
            flex-direction: row;
           
            align-items: stretch; 

            .top,
            .bottom{
                width: 50%;
                  
               
            }

            .bottom{
                justify-content: space-between;
                padding:3.5rem;

                .text{

                    gap:1.5rem;

                    h1{
                        width: 90%;
                        font-size:3.8rem;
                    }
                     p {
                        width: 90%;
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .view2{
            width: 100%;
            flex-direction: row;
                       
             .top,
             .bottom{
                width: 50%;
                justify-content: space-around;
                .element{
                    padding: 5rem;
                    small{
                        font-family: myfont1;
                        font-size: 1rem;
                        padding-left: 0.8rem;
                    }
                h1{
                    font-size: 4rem;
                    font-family: myfont2;
                }
            }
             }
        }
        .view3{
            flex-direction: row-reverse;
            gap:1rem;
            .top,
            .bottom{
                width: 50%;
            }
             .bottom{
                justify-content: space-between;
                padding:3.5rem;

                .text{

                    gap:1.5rem;
                 h1{
                        width: 90%;
                        font-size:3.1rem;
                    }
                    .paragraph{
                        flex-direction: row;
                        width: 100%;
                        gap: 1rem;
                      p {
                        width: 70%;
                        font-size: 1.2rem;
                        line-height: 1.5;
                       
                    }
                }
                }
            }
        }
         .view4{
            flex-direction: row;
            gap:1rem;
            .top,
            .bottom{
                width: 50%;
            }
             .bottom{
                justify-content: space-between;
                padding:3.5rem;

                .text{

                    gap:1.5rem;

                    h1{
                        width: 90%;
                        font-size:3.1rem;
                    }
                    .paragraph{
                        flex-direction: row;
                        width: 100%;
                        gap: 1rem;
                      p {
                        width: 70%;
                        font-size: 1.2rem;
                        line-height: 1.5;
                       
                    }
                }
                
                }
            }
        }
        .view5{
            flex-direction: row;
            .card1{
                 .bottom{
                    
                    padding: 2rem 1.8rem;
                   
                    h2{
                        font-size: 2rem;
                        font-family: myfont2;
                     
                        font-weight: 800;
                    }
                    h3{
                        font-size: 1.5rem;
                        font-family: myfont1;
                    }
                }    
            }

              .card2{
                 .bottom{
                    
                    padding: 2rem 1.8rem;
                   
                    h2{
                        font-size: 2rem;
                        font-family: myfont2;
                     
                        font-weight: 800;
                    }
                    h3{
                        font-size: 1.5rem;
                        font-family: myfont1;
                    }
                }    
            }
              .card3{
                 .bottom{
                    
                    padding: 2rem 1.8rem;
                   
                    h2{
                        font-size: 2rem;
                        font-family: myfont2;
                     
                        font-weight: 800;
                    }
                    h3{
                        font-size: 1.5rem;
                        font-family: myfont1;
                    }
                }    
            }
        }
        .view6{
            @include new();
            gap: 1rem;
            align-items: stretch; 
            .top,
            .bottom{
                width: 50%;
            }
            .bottom{
                @include flex-center(0.7rem);
                justify-content: center;
                 p{
                    font-size: 1rem;
                    font-family: myfont1;
                    opacity: 0.7;
                }
                .text{
                    @include flex-center(7rem);
                    justify-content: space-between;
                   
                    h1{
                        width: 100%;
                        font-size:3.8rem;
                        
                    }
                    button{
                        padding: 1rem;
                    }
                     
                }
            }
        }
        
    }
    }

    @media (min-width:768px) and (max-width:900px){
    main{

        .view1{
           
             .bottom{
                justify-content: space-between;
                padding:3.5rem;
                @include flex-center(8rem);

                .text{

                    gap:1.5rem;

                    h1{
                        width: 90%;
                        font-size:3.8rem;
                    }
                     p {
                        width: 90%;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .view2{
            flex-direction: column;
        }

        .view3{
           .bottom{
                justify-content: space-between;
                padding:3.5rem;
                width: 100%;
                .text{
                    gap:1.5rem;
                 h1{                                // yha choda tha
                        width: 90%;
                        font-size:3.1rem;
                    }
                    .paragraph{
                        flex-direction: row;
                        width: 100%;
                        gap: 1rem;
                      p {
                        width: 70%;
                        font-size: 1.2rem;
                        line-height: 1.5;
                       
                    }
                }
                }
            }
        }

        .view4{
            flex-direction: column;
        }

        .view6{
            flex-direction: column;
        }

        .view5{
            flex-wrap: wrap;
        }

    }
}


    

