*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
html {
    font-family: myfont2;
    color: rgb(244, 244, 244);
    font-size: clamp(14px, 1vw, 18px);
}

body {
    background-color: #1d1d1d;
}
@mixin flex-center($gap:0rem){
    display: flex;
    flex-direction: column;
    gap:$gap;
}
@font-face {
    font-family: myfont1;
    src: url('./L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2');
}
@font-face {
    font-family: myfont2;
    src: url('./63cffc20aa8997095067596f_Satoshi-Light.woff');
}
@font-face {
    font-family: myfont3;
    src: url('./63cffc0a3942456e003bc265_Chillax-Regular.woff');
}
.view1{
    max-width:2000px;
}
main{
    width: 100%;
    @include flex-center();
    align-items: center;
    .view1{
        width: 100%;
        @include flex-center(1rem);
        background-color: rgb(21, 20, 20);
        border-radius: 1rem;
        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom{
            
           @include flex-center(3rem);
            background-color: rgb(28, 27, 27);
            padding: 1.5rem;
            border-radius: 1rem;
                p{
                    font-size: 0.8rem;
                    font-family: myfont1;
                }
            
            .text{
                  @include flex-center(0.6rem);
                h1{
                    text-transform: uppercase;
                    font-weight: 200;
                    font-family: myfont3;
                    font-size: 3rem;
                }
                p{
                    font-size: 1.5rem;
                    font-weight: 100;
                    line-height: 1.5;
                    opacity:0.6;
                    font-family: myfont2;
                }
                button{
                   width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
        }
    }
  @media (min-width:900px) {
    main{
        
        .view1{
            flex-direction: row;
            padding: 1rem 4rem;
            align-items: stretch; 

            .top,
            .bottom{
                width: 50%;
                  
               
            }

            .bottom{
                justify-content: space-between;
                padding:3.5rem;

                .text{

                    gap:1.5rem;

                    h1{
                        width: 90%;
                        font-size:3.8rem;
                    }
                     p {
                        width: 90%;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
    }

