* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: myfont2;
  color: rgb(244, 244, 244);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #101010;
}

@font-face {
  font-family: myfont1;
  src: url("./L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2");
}
@font-face {
  font-family: myfont2;
  src: url("./63cffc20aa8997095067596f_Satoshi-Light.woff");
}
@font-face {
  font-family: myfont3;
  src: url("./63cffc0a3942456e003bc265_Chillax-Regular.woff");
}
.view1 {
  max-width: 2000px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main .view1 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
}
main .view1 .top {
  width: 100%;
}
main .view1 .top img {
  width: 100%;
  border-radius: 1rem;
}
main .view1 .bottom {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: rgb(28, 27, 27);
  padding: 1.5rem;
  border-radius: 1rem;
}
main .view1 .bottom p {
  font-size: 0.8rem;
  font-family: myfont1;
}
main .view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view1 .bottom .text h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-family: myfont3;
  font-size: 2.7rem;
  text-align: left;
  padding: 0;
}
main .view1 .bottom .text p {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.5;
  opacity: 0.6;
  font-family: myfont2;
}
main .view1 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
main .view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main .view2 .top {
  display: flex;
  flex-direction: row;
}
main .view2 .top .element {
  gap: 2rem;
}
main .view2 .top .element small {
  font-size: 0.8rem;
  font-family: myfont1;
}
main .view2 .top .element h1 {
  font-size: 2rem;
}
main .view2 .bottom {
  display: flex;
  flex-direction: row;
}
main .view2 .bottom .element {
  gap: 2rem;
}
main .view2 .bottom .element small {
  font-size: 0.8rem;
  font-family: myfont1;
}
main .view2 .bottom .element h1 {
  font-size: 2rem;
}
main .view3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main .view3 .top {
  width: 100%;
}
main .view3 .top img {
  width: 100%;
  border-radius: 1rem;
}
main .view3 .bottom {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: rgb(28, 27, 27);
  padding: 2rem;
  border-radius: 1rem;
}
main .view3 .bottom p {
  font-size: 1.1rem;
  font-family: myfont1;
  font-weight: 400;
  opacity: 0.8;
}
main .view3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view3 .bottom .text h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-family: myfont3;
  font-size: 2.2rem;
  text-align: left;
  padding: 0;
}
main .view3 .bottom .text .paragraph {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
main .view3 .bottom .text .paragraph p {
  font-size: 1.2rem;
  font-weight: 550;
  line-height: 1.6;
  opacity: 0.6;
  font-family: myfont2;
}
main .view4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main .view4 .top {
  width: 100%;
}
main .view4 .top img {
  width: 100%;
  border-radius: 1rem;
}
main .view4 .bottom {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: rgb(28, 27, 27);
  padding: 2rem;
  border-radius: 1rem;
}
main .view4 .bottom p {
  font-size: 1.1rem;
  font-family: myfont1;
  font-weight: 400;
  opacity: 0.8;
}
main .view4 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view4 .bottom .text h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-family: myfont3;
  font-size: 2.2rem;
  text-align: left;
  padding: 0;
}
main .view4 .bottom .text .paragraph {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
main .view4 .bottom .text .paragraph p {
  font-size: 1.2rem;
  font-weight: 550;
  line-height: 1.6;
  opacity: 0.6;
  font-family: myfont2;
}
main h1 {
  width: 100%;
  font-size: 2rem;
  font-family: myfont3;
  font-weight: 400;
  padding: 2rem;
}
main .view5 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view5 .card1 {
  width: 100%;
  background-size: cover;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01-p-500.webp");
  aspect-ratio: 1/1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 2rem;
}
main .view5 .card1 .top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.7rem 0.7rem;
}
main .view5 .card1 .top .icon {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.075);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 0.1rem solid rgba(255, 255, 255, 0.192);
}
main .view5 .card1 .top .icon i {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.703);
}
main .view5 .card1 .bottom {
  width: 100%;
  background-color: rgba(187, 187, 187, 0.133);
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  border-radius: 0.7rem;
  border: 1px solid rgba(255, 255, 255, 0.278);
  padding: 1rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .view5 .card1 .bottom h2 {
  font-size: 1.4rem;
  font-family: myfont2;
  font-weight: 800;
}
main .view5 .card1 .bottom h3 {
  font-size: 1rem;
  font-family: myfont1;
}
main .view5 .card2 {
  width: 100%;
  background-size: cover;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02-p-500.webp");
  aspect-ratio: 1/1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 2rem;
}
main .view5 .card2 .top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.7rem 0.7rem;
}
main .view5 .card2 .top .icon {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.075);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 0.1rem solid rgba(255, 255, 255, 0.192);
}
main .view5 .card2 .top .icon i {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.703);
}
main .view5 .card2 .bottom {
  width: 100%;
  background-color: rgba(187, 187, 187, 0.133);
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  border-radius: 0.7rem;
  border: 1px solid rgba(255, 255, 255, 0.278);
  padding: 1rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .view5 .card2 .bottom h2 {
  font-size: 1.4rem;
  font-family: myfont2;
  font-weight: 800;
}
main .view5 .card2 .bottom h3 {
  font-size: 1rem;
  font-family: myfont1;
}
main .view5 .card3 {
  width: 100%;
  background-size: cover;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03-p-500.webp");
  aspect-ratio: 1/1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 2rem;
}
main .view5 .card3 .top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.7rem 0.7rem;
}
main .view5 .card3 .top .icon {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.075);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 0.1rem solid rgba(255, 255, 255, 0.192);
}
main .view5 .card3 .top .icon i {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.703);
}
main .view5 .card3 .bottom {
  width: 100%;
  background-color: rgba(187, 187, 187, 0.133);
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  border-radius: 0.7rem;
  border: 1px solid rgba(255, 255, 255, 0.278);
  padding: 1rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .view5 .card3 .bottom h2 {
  font-size: 1.4rem;
  font-family: myfont2;
  font-weight: 800;
}
main .view5 .card3 .bottom h3 {
  font-size: 1rem;
  font-family: myfont1;
}
main .view6 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-radius: 1rem;
}
main .view6 .top {
  width: 100%;
}
main .view6 .top img {
  width: 100%;
  border-radius: 1rem;
}
main .view6 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(28, 27, 27);
  padding: 1.5rem;
  border-radius: 1rem;
}
main .view6 .bottom p {
  font-size: 1rem;
  font-family: myfont1;
  opacity: 0.7;
}
main .view6 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view6 .bottom .text h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-family: myfont3;
  font-size: 2.4rem;
  text-align: left;
  padding: 0rem;
  padding-bottom: 2rem;
}
main .view6 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}

@media (min-width: 900px) {
  main .view1 {
    flex-direction: row;
    align-items: stretch;
  }
  main .view1 .top,
  main .view1 .bottom {
    width: 50%;
  }
  main .view1 .bottom {
    justify-content: space-between;
    padding: 3.5rem;
  }
  main .view1 .bottom .text {
    gap: 1.5rem;
  }
  main .view1 .bottom .text h1 {
    width: 90%;
    font-size: 3.8rem;
  }
  main .view1 .bottom .text p {
    width: 90%;
    font-size: 1.3rem;
  }
  main .view2 {
    width: 100%;
    flex-direction: row;
  }
  main .view2 .top,
  main .view2 .bottom {
    width: 50%;
    justify-content: space-around;
  }
  main .view2 .top .element,
  main .view2 .bottom .element {
    padding: 5rem;
  }
  main .view2 .top .element small,
  main .view2 .bottom .element small {
    font-family: myfont1;
    font-size: 1rem;
    padding-left: 0.8rem;
  }
  main .view2 .top .element h1,
  main .view2 .bottom .element h1 {
    font-size: 4rem;
    font-family: myfont2;
  }
  main .view3 {
    flex-direction: row-reverse;
    gap: 1rem;
  }
  main .view3 .top,
  main .view3 .bottom {
    width: 50%;
  }
  main .view3 .bottom {
    justify-content: space-between;
    padding: 3.5rem;
  }
  main .view3 .bottom .text {
    gap: 1.5rem;
  }
  main .view3 .bottom .text h1 {
    width: 90%;
    font-size: 3.1rem;
  }
  main .view3 .bottom .text .paragraph {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }
  main .view3 .bottom .text .paragraph p {
    width: 70%;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  main .view4 {
    flex-direction: row;
    gap: 1rem;
  }
  main .view4 .top,
  main .view4 .bottom {
    width: 50%;
  }
  main .view4 .bottom {
    justify-content: space-between;
    padding: 3.5rem;
  }
  main .view4 .bottom .text {
    gap: 1.5rem;
  }
  main .view4 .bottom .text h1 {
    width: 90%;
    font-size: 3.1rem;
  }
  main .view4 .bottom .text .paragraph {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }
  main .view4 .bottom .text .paragraph p {
    width: 70%;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  main .view5 {
    flex-direction: row;
  }
  main .view5 .card1 .bottom {
    padding: 2rem 1.8rem;
  }
  main .view5 .card1 .bottom h2 {
    font-size: 2rem;
    font-family: myfont2;
    font-weight: 800;
  }
  main .view5 .card1 .bottom h3 {
    font-size: 1.5rem;
    font-family: myfont1;
  }
  main .view5 .card2 .bottom {
    padding: 2rem 1.8rem;
  }
  main .view5 .card2 .bottom h2 {
    font-size: 2rem;
    font-family: myfont2;
    font-weight: 800;
  }
  main .view5 .card2 .bottom h3 {
    font-size: 1.5rem;
    font-family: myfont1;
  }
  main .view5 .card3 .bottom {
    padding: 2rem 1.8rem;
  }
  main .view5 .card3 .bottom h2 {
    font-size: 2rem;
    font-family: myfont2;
    font-weight: 800;
  }
  main .view5 .card3 .bottom h3 {
    font-size: 1.5rem;
    font-family: myfont1;
  }
  main .view6 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: stretch;
  }
  main .view6 .top,
  main .view6 .bottom {
    width: 50%;
  }
  main .view6 .bottom {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-content: center;
  }
  main .view6 .bottom p {
    font-size: 1rem;
    font-family: myfont1;
    opacity: 0.7;
  }
  main .view6 .bottom .text {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    justify-content: space-between;
  }
  main .view6 .bottom .text h1 {
    width: 100%;
    font-size: 3.8rem;
  }
  main .view6 .bottom .text button {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  main .view1 .bottom {
    justify-content: space-between;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
  main .view1 .bottom .text {
    gap: 1.5rem;
  }
  main .view1 .bottom .text h1 {
    width: 90%;
    font-size: 3.8rem;
  }
  main .view1 .bottom .text p {
    width: 90%;
    font-size: 1.3rem;
  }
  main .view2 {
    flex-direction: column;
  }
  main .view3 .bottom {
    justify-content: space-between;
    padding: 3.5rem;
    width: 100%;
  }
  main .view3 .bottom .text {
    gap: 1.5rem;
  }
  main .view3 .bottom .text h1 {
    width: 90%;
    font-size: 3.1rem;
  }
  main .view3 .bottom .text .paragraph {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }
  main .view3 .bottom .text .paragraph p {
    width: 70%;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  main .view4 {
    flex-direction: column;
  }
  main .view6 {
    flex-direction: column;
  }
  main .view5 {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */