* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: myfont2;
  color: rgb(244, 244, 244);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #121212;
}

@font-face {
  font-family: myfont1;
  src: url("./L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2");
}
@font-face {
  font-family: myfont2;
  src: url("./63cffc20aa8997095067596f_Satoshi-Light.woff");
}
@font-face {
  font-family: myfont3;
  src: url("./63cffc0a3942456e003bc265_Chillax-Regular.woff");
}
.view1 {
  max-width: 2000px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main .view1 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(21, 20, 20);
  border-radius: 1rem;
}
main .view1 .top {
  width: 100%;
}
main .view1 .top img {
  width: 100%;
  border-radius: 1rem;
}
main .view1 .bottom {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: rgb(28, 27, 27);
  padding: 1.5rem;
  border-radius: 1rem;
}
main .view1 .bottom p {
  font-size: 0.8rem;
  font-family: myfont1;
}
main .view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
main .view1 .bottom .text h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-family: myfont3;
  font-size: 3rem;
}
main .view1 .bottom .text p {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.5;
  opacity: 0.6;
  font-family: myfont2;
}
main .view1 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
main .view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main .view2 .top {
  display: flex;
  flex-direction: row;
}
main .view2 .top .element {
  gap: 2rem;
  padding: 2.4rem;
}
main .view2 .top .element small {
  font-size: 0.8rem;
  font-family: myfont1;
}
main .view2 .top .element h1 {
  font-size: 2rem;
}
main .view2 .bottom {
  display: flex;
  flex-direction: row;
}
main .view2 .bottom .element {
  gap: 2rem;
  padding: 2.4rem;
}
main .view2 .bottom .element small {
  font-size: 0.8rem;
  font-family: myfont1;
}
main .view2 .bottom .element h1 {
  font-size: 2rem;
}
main .view3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main .view3 .top {
  width: 100%;
}
main .view3 .top img {
  width: 100%;
  border-radius: 1rem;
}
main .view3 .bottom {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: rgb(28, 27, 27);
  padding: 2rem;
  border-radius: 1rem;
}
main .view3 .bottom p {
  font-size: 1.1rem;
  font-family: myfont1;
  font-weight: 400;
  opacity: 0.8;
}
main .view3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
main .view3 .bottom .text h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-family: myfont3;
  font-size: 2.4rem;
}
main .view3 .bottom .text .paragraph {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
main .view3 .bottom .text .paragraph p {
  font-size: 1.2rem;
  font-weight: 550;
  line-height: 1.6;
  opacity: 0.6;
  font-family: myfont2;
}
main .view4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main .view4 .top {
  width: 100%;
}
main .view4 .top img {
  width: 100%;
  border-radius: 1rem;
}
main .view4 .bottom {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: rgb(28, 27, 27);
  padding: 2rem;
  border-radius: 1rem;
}
main .view4 .bottom p {
  font-size: 1.1rem;
  font-family: myfont1;
  font-weight: 400;
  opacity: 0.8;
}
main .view4 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
main .view4 .bottom .text h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-family: myfont3;
  font-size: 2.4rem;
}
main .view4 .bottom .text .paragraph {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
main .view4 .bottom .text .paragraph p {
  font-size: 1.2rem;
  font-weight: 550;
  line-height: 1.6;
  opacity: 0.6;
  font-family: myfont2;
}
main .view5 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
main .view5 h1 {
  font-size: 2rem;
  font-family: myfont2;
  font-weight: 500;
}
main .view5 .card {
  width: 100%;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01-p-800.webp");
  background-size: cover;
  aspect-ratio: 1/1;
}

@media (min-width: 900px) {
  main .view1 {
    flex-direction: row;
    align-items: stretch;
  }
  main .view1 .top,
  main .view1 .bottom {
    width: 50%;
  }
  main .view1 .bottom {
    justify-content: space-between;
    padding: 3.5rem;
  }
  main .view1 .bottom .text {
    gap: 1.5rem;
  }
  main .view1 .bottom .text h1 {
    width: 90%;
    font-size: 3.8rem;
  }
  main .view1 .bottom .text p {
    width: 90%;
    font-size: 1.3rem;
  }
  main .view2 {
    width: 100%;
    flex-direction: row;
  }
  main .view2 .top,
  main .view2 .bottom {
    width: 50%;
    justify-content: space-around;
  }
  main .view2 .top .element,
  main .view2 .bottom .element {
    padding: 5rem;
  }
  main .view2 .top .element small,
  main .view2 .bottom .element small {
    font-family: myfont1;
    font-size: 1rem;
    padding-left: 0.8rem;
  }
  main .view2 .top .element h1,
  main .view2 .bottom .element h1 {
    font-size: 4rem;
    font-family: myfont2;
  }
  main .view3 {
    flex-direction: row-reverse;
    gap: 1rem;
  }
  main .view3 .top,
  main .view3 .bottom {
    width: 50%;
  }
  main .view3 .bottom {
    justify-content: space-between;
    padding: 3.5rem;
  }
  main .view3 .bottom .text {
    gap: 1.5rem;
  }
  main .view3 .bottom .text h1 {
    width: 90%;
    font-size: 3.1rem;
  }
  main .view3 .bottom .text .paragraph {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }
  main .view3 .bottom .text .paragraph p {
    width: 70%;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  main .view4 {
    flex-direction: row;
    gap: 1rem;
  }
  main .view4 .top,
  main .view4 .bottom {
    width: 50%;
  }
  main .view4 .bottom {
    justify-content: space-between;
    padding: 3.5rem;
  }
  main .view4 .bottom .text {
    gap: 1.5rem;
  }
  main .view4 .bottom .text h1 {
    width: 90%;
    font-size: 3.1rem;
  }
  main .view4 .bottom .text .paragraph {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }
  main .view4 .bottom .text .paragraph p {
    width: 70%;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}/*# sourceMappingURL=style.css.map */